In [1]:
# Dependencies
import os 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px
from pathlib import Path

In [2]:
# Copy the file path to reading 

file = Path(r'Source\adult.csv')

In [3]:
# Reading the CSV file in to the Pandas DataFrame 
df = pd.read_csv(file)
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [4]:
df['income_binary'] = df['income'].apply(lambda x: 0 if x == '<=50K' else 1) 
df.head(2000)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,income_binary
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K,0
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K,0
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,45,Private,148171,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,15024,0,40,United-States,>50K,1
1996,30,Private,196385,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,35,United-States,>50K,1
1997,40,Self-emp-inc,191429,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K,1
1998,49,Self-emp-inc,58359,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,50,United-States,>50K,1
1999,52,Self-emp-inc,89041,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K,1

In [5]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income', 'income_binary'],
      dtype='object')

In [6]:
df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,income_binary
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456,0.240810
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429,0.427581
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000

In [7]:
# # Delete extraneous column
# del df['Memo_CD']
# df.head()

In [8]:
# # Identify incomplete rows
# df.count()

In [9]:
# # Drop all rows with missing information
# df = df.dropna(how='any')

In [10]:
# # Verify dropped rows
# df.count()

In [11]:
# # The Zip column is the wrong data type. It should be a string (object).
# df.dtypes

In [12]:
# # Use df.astype() method to convert the datatype of the Zip column
# df = df.astype({"Zip": str}, errors='raise')

In [13]:
# # Verify that the Zip column datatype has been made an object
# df['Zip'].dtype

In [14]:
# # Display an overview of the Employers column
# df['Employer'].value_counts()

In [15]:
# # Clean up Employer category. Replace 'SELF' and 'SELF EMPLOYED' with 'SELF-EMPLOYED'
# df['Employer'] = df['Employer'].replace({'SELF': 'SELF-EMPLOYED', 'SELF EMPLOYED': 'SELF-EMPLOYED'})

In [16]:
# # Verify clean-up.
# df['Employer'].value_counts()

In [17]:
# # Clean up Employer category. Replace 'NOT EMPLOYED' with 'UNEMPLOYED'
# df['Employer'] = df['Employer'].replace({'NOT EMPLOYED': 'UNEMPLOYED'})
# df['Employer'].value_counts()

In [18]:
# # Display a statistical overview
# # We can infer the maximum allowable individual contribution from 'max'
# df.describe()

In [19]:
# # Save the DataFrame to a CSV file. 
# df.to_csv("Resources/donors2021.csv", index=False, encoding="ISO-8859-1")